<%- include("templates/header.ejs") %>

<main>
    <h1>

    </h1>

    <section>
        <form action="/admin/servicios/crearNuevoServicio" method="post">

            <input type="text" id="titulo" name="titulo" placeholder="Nombre del servicio">
            <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="introduzca la descripcion del servicio"></textarea>
            <input type="submit" value="añadir servicio">


        </form>
    </section>
</main>

<%- include("templates/footer.ejs") %>